<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/standardize.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
  <body>
    <div class="container">
      <nav>
        <a class="active home" href="/"></a>
        <a class="squad" href="/squad"></a>
        <a class="table" href="/table"></a>
        <a class="logout" href="/logout"></a>
      </nav>
      <div class="welcome">
        <h1>Bienvenido
          {% if request.user.first_name %}
            <strong>{{request.user.first_name }}</strong>
          {% else %}
            <strong>{{request.user.username }}</strong>
          {% endif %}
        </h1>
      </div>
      <div class="left">
        <img src="{% static 'images/omeyer.png' %}" alt="">
      </div>
      <div class="right"><img src="{% static 'images/karabatic.png' %}" alt=""></div>
    </div>
  </body>
</html>
